doctype html
html(lang="en")
  head
    title larrmann
    meta(charset='UTF-8')
    meta(content='', name='description')
    meta(content='', name='author')
    meta(content='3 days', name='revisit-after')

    // build:css /styles/main.css
    link(href='/styles/main.css', rel='stylesheet')
    // endbuild

  body(class=page)

    .bg
    
    .container
    
      block header
        .header 
          .navbar.navbar-inverse(role='navigation')
            .container
              .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                  span.sr-only Toggle navigation
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand(href='#')
                  span.glyphicon.glyphicon-leaf
              .navbar-collapse.collapse
                  ul.nav.navbar-nav
                    li
                      a(href='#') 
                  ul.nav.navbar-nav.navbar-right
                    li
                      a(href='./') 
                        span.glyphicon.glyphicon-align-justify
                      // /.nav-collapse

      block user

      block portfolio
        p portfolio

      block Footer
        footer
          p footer

    // build:js /scripts/main.js
    
    script(src='/bower_components/jquery/dist/jquery.js')
    
    script(src='/scripts/main.js')
    // endbuild
